/* ===== Default table ===== */

.tDefault2 tbody td, .tDefault thead td { border-left: 1px solid #DFDFDF; box-shadow: 0 1px 0 #fafafa inset; -webkit-box-shadow: 0 1px 0 #fafafa inset; -moz-box-shadow: 0 1px 0 #fafafa inset; }
.tDefault2 tbody td:first-child, .tDefault thead td:first-child { border-left: none; }
.checkAll thead td:first-child > img { vertical-align: middle; padding-bottom: 2px; }
.tDefault2 thead td { text-align: center; font-size: 11px; padding: 3px 5px 2px 5px; color: #909090; background: #eee; }
.tDefault2 tbody td { padding: 0px 5px; vertical-align: middle; }
.tDefault2 tbody tr { border-top: 1px solid #DFDFDF; }
.tDefault2 tbody tr:first-child { box-shadow: 0 1px 0px #fff inset; -webkit-box-shadow: 0 1px 0px #fff inset; -moz-box-shadow: 0 1px 0px #fff inset; }
.tDefault2 tbody tr:nth-child(even) { background: #f2f2f2; }

/*--- Top Part ----*/
#top2 { background: url(../images/backgrounds/sidebar.jpg) repeat 0 0; height: 90px; display: block; width: 100%; position: absolute; z-index: 10000; border-bottom: 1px solid #1c1c1c; }
.logo { float: left; margin-top: 14px; }
.topNav { float: right; margin-top:14px; position: relative; color:white; }
.center { text-align:center; width:100%; margin-top: 5px; position:absolute; }
.topNav2 { float: right; position: relative; color:white; }
.logo2 { float: left; position: relative; color:white; }