body {
	font-family:Helvetica;
	background-color:rgb(215,222,250);
	font-size:14;
}

.controlTable, .controlTable2 {
	border-collapse: collapse;
	font-size:12;
}

.controlTable3 {
	font-size:13;

}

 .header {
	background-color: rgb(49,69,149);
	color:white;

}

.subheader {
	background-color: rgb(45,126,182);
	color:white;

}

.category {
	background-color: rgb(141,179,213);
	color:black;


}

.controlTable tr:nth-child(2n+5){
	background-color: rgb(141,179,213);
	color:black;
}

.controlTable tr:nth-child(2n+4){
	background-color:white;
	color:black;
}

.grid {
	background-color:white;
	color:black;

}

.none {
	background-color:rgb(215,222,250);
}


.highlight {

	background-color:rgb(20,180,236);
	color:white;
}
