body {
	font-family:Helvetica;
	background-color:rgb(230,230,230);
	font-size:14;
}

.controlTable, .controlTable2 {
	border-collapse: collapse;
	font-size:12;
}

.controlTable3 {
	font-size:13;

}

.header {
	background-color: rgb(1,176,75);
	color:white;

}
.subheader {
	background-color: rgb(188,141,45);
	color:black;

}

.category {
	background-color: rgb(168,215,171);
	color:black;


}
.controlTable tr:nth-child(2n+5){
	background-color: rgb(168,215,171);
	color:black;
}

.controlTable tr:nth-child(2n+4){
	background-color:white;
	color:black;
}

.grid {
	background-color:white;
	color:black;

}

.none {
	background-color:rgb(230,230,230);
}

input[type="text"] {
	border:1px solid rgb(1,176,75);
	color:black;
	
}

.highlight {
	background-color:rgb(34,162,199);
	color:white;

}
