.loginTable {
	background-image:url("images/login.png");
	background-repeat:no-repeat;
	width:40%;
	height:450;
	margin-top:10px;
	border: 1px solid rgb(26,113,190);
	background-color:rgb(26,113,190);
	background-position:center;
	font-family:Helvetica;
	moz-border-radius:15px;
	border-radius:15px;
}


.loginTable table{
	font-size:12;
	margin-top:40px;	
	

}

.header {
	background-color: rgb(6,38,115);
	color:white;
	width:35%;
}

body {
	background-color:rgb(26,113,190);
	

}

#cssTable {
	font-size:13;
	border-collapse: collapse;
	font-family:Helvetica;
}

#cssTable th {
	background-color: rgb(6,38,115);
	color:white;
	border-bottom: 2px solid rgb(248,199,64);	

}



#cssTable tr:nth-child(n+1) td:nth-child(1){
	background-color: rgb(6,38,115);
	color:white;


	border-bottom: 1px solid rgb(248,199,64);	



}
#cssTable tr:nth-child(n+1) td:nth-child(2){
	background-color: white;

	color:rgb(27,62,148);
	border-bottom: 1px solid rgb(6,38,115);	


}

#cssTable tr:last-child {
	background-color: rgb(202,180,16);

	color:rgb(27,62,148);
}