#menuHeader a{
	color:rgb(186,223,227);
	font-size:14;
	text-decoration:none;
	font-weight:bold;
}

#menuHeader a:hover {
	background-color: white;
}

#menuHeader  #logout {
	color: rgb(186,223,227);

}

.dsrTable {
	font-size:12;
	font-family:Helvetica;
	border-collapse:collapse;
	width:100%;
}

 .header {
	background-color: rgb(0,139,194);
	color:white;

}

.subheader {
	background-color: rgb(95,191,211);
	color:black;

}

.category {
	background-color: rgb(252,254,255);
	color:black;


}

.dsrTable td,.dsrTable th {
	cellpadding:3px;
	padding:3px;

}

body {
	font-size:13;
	background-color:rgb(164,214,222);
	font-family: Helvetica;

}

.grid {
	background-color:white;
	color:black;

}