body {
	font-family:Helvetica;
	background-color:rgb(200,151,165);
	font-size:14;
}

.controlTable, .controlTable2 {
	border-collapse: collapse;
	font-size:12;
}

.controlTable3 {
	font-size:13;

}

 .header {
	background-color: rgb(243,224,231);
	color:rgb(202,118,141);
	border: 1px solid rgb(202,118,141); 

}

.header th {
	border: 1px solid rgb(202,118,141); 

}


.subheader {
	background-color: rgb(56,21,42);
	color:white;

}

.category {
	background-color: rgb(213,213,213);
	color:black;


}
.controlTable tr:nth-child(2n+5){
	background-color: rgb(213,213,213);
	color:black;
}

.controlTable tr:nth-child(2n+4){
	background-color:white;
	color:black;
}

.grid {
	background-color:white;
	color:black;

}

.none {
	background-color:rgb(200,151,165);
}

input[type="text"] {
	border:1px solid rgb(202,118,141);
	color:black;
	
}

.highlight {
	background-color:rgb(161,13,93);
	color:white;
}