body {
	font-family:Helvetica;
	background-color:rgb(252,240,190);
	font-size:14;
}

.controlTable, .controlTable2 {
	border-collapse: collapse;
	font-size:12;
}

.controlTable3 {
	font-size:13;

}

.header {
	background-color: rgb(245,209,35);
	color:black;

}
.subheader {
	background-color: rgb(0,76,63);
	color:white;

}

.category {
	background-color: rgb(228,188,0);
	color:white;


}
.controlTable tr:nth-child(2n+5){
	background-color: rgb(141,179,213);
	color:black;
}

.controlTable tr:nth-child(2n+4){
	background-color:white;
	color:black;
}

.grid {
	background-color:white;
	color:black;

}

.none {
	background-color:rgb(252,240,190);
}

input[type="text"] {
	border:1px solid rgb(188,162,41);
	color:black;
	
}

.highlight {
	background-color: rgb(180,128,6);
	color:white;
}